{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "orgasmic-replace-me",
    "storage_bucket": "orgasmic-replace-me.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000",
        "android_client_info": {
          "package_name": "live.orgasmic.community"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "replace-me"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
